process {
    executor = 'slurm'        
    queue = 'super'           
    memory = '32 GB'
    cpus = 1
    time = '4h'
    conda = '/home2/s249154/.conda/envs/deskew_env'
    beforeScript = """
        module load matlab/2022b
        export MATLAB_ROOT="/home1/apps/MATLAB/R2022b"
        export LD_LIBRARY_PATH="/home1/apps/MATLAB/R2022b/bin/glnxa64:\\\$LD_LIBRARY_PATH"
    """
}