env {
    MATLAB_ROOT     = '/home1/apps/MATLAB/R2022b'
    LD_LIBRARY_PATH = "/home1/apps/MATLAB/R2022b/bin/glnxa64:${System.getenv('LD_LIBRARY_PATH') ?: ''}"
}

process {
    beforeScript = 'module load matlab/2022b'
    executor = 'slurm'        
    queue = 'super'           
    memory = '64 GB'
    cpus = 8
    time = '4h'
}